@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark, html.dark body, html.dark #root {
  @apply bg-gray-900 text-white;
}

html.dark {
  background-color: #111827;
  color: #ffffff;
}

html.dark body {
  background-color: #111827;
  color: #ffffff;
}

html.dark #root {
  background-color: #111827;
}
